.card {
    display: flex;
    justify-content: flex-end;
    align-content: center;
}

.content {
    width: 50%;
    height: 110%;
}

.card .woman {
    top: 0px;
    left: -60px;
}

.card .sombra {
    position: absolute;
    top: -350px;
    left: calc(-50%);
}

.card .sombra-mobile {
    display: none;
}

.card .sombra-full {
    display: block;
}

.card .woman-mobile {
    display: none;
}

.card .woman-full {
    display: block;
    overflow: hidden;
}